
body{
    width: 100%;
    margin: 0;
    background-color: gray;
}

#Logo{
    height: 100px;
}

#Main_Home {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    align-self: center;
}

#Header{


    display: flex;
    justify-content: space-between;
    background-color: red;

}

#Header_left{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
}


#Header_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

#Header_right h2{

    font-size: 1.5rem;

    padding: 0rem 1rem 0rem 1rem;
}

#Home_Logo {
    height: 200px;
}

#Main_Login{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    align-self: center;
}

#Main_Login form {
    display: flex;
    flex-direction: column;
    background-color: white;

    width: 50%;
    height: 20%;

    padding: 25px 100px 25px 100px;
    border-style: solid;
}

#Login_Logo {
    height: 200px;
}

#Register {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    align-self: center;
}

#Register form{
    display: flex;
    flex-direction: column;
    background-color: white;

    width: 50%;
    height: 20%;

    padding: 25px 100px 25px 100px;
    border-style: solid;
}

#Register img {
    height: 200px;
}

#Register_Button {
    height: 50px;
}

#Academy_Shop {
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    align-items: center;

}

#Academy_Shop img {
    height: 200px;
}

#itemSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: white;
    width: 50%;

    border-style: solid;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 50px;
}

.card img {
    height: 200px;
    width: 200px;
    display: flex;
    align-self: center;
    border-style: solid;
}

.product_name {
    margin: 10px;
}

.product_id {
    margin: 10px;
    font-size: 20px;
}

.description {
    font-size: 25px;
}

#bottom_Card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 50px;
}

.buyButton {
    height: 100px;
    width: 200px;
}



#GameOfChess {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    align-self: center;
}

#GameOfChess img {
    height: 200px;
}

#GuestBook {

    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    align-self: center;
}

#GuestBook img {
    height: 400px;
}

#commentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding: 0 25px 0 25px;

    background-color: white;
    border-style: solid;
    word-wrap: anywhere;
}

#commentSection p{
    width: 100%;
    font-size: 28px;
    border-bottom: black solid;


}





