
body{
    width: 100%;
    margin: 0;
}

#Logo{
    height: 100px;
}

#Main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#Header{

    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: red;

}

#Header_left{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*padding: 0rem 1rem 0rem 1rem;*/
}


#Header_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

#Header_right h2{

    font-size: 1.5rem;

    padding: 0rem 1rem 0rem 1rem;
}

#Main {
    display: flex;
    flex-direction: column;
}

#Home_Logo {
    height: 200px;
}